name: Lint and Format

on: [push, pull_request]

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install black flake8 flake8-import-order flake8-quotes pep8-naming

      - name: Run Black
        run: black --check .

      - name: Run Flake8
        run: flake8 . --count --show-source --statistics